html, body{
    background: #f2f2f2 !important;
}
.hero {
    text-align: center;
    background-image: url("../images/roulette-bg.jpg");
    background-size: cover;
    background-position: center;
    height:auto!important;
    min-height:40vh;
}
.hero-body{
    background: rgba(0,0,0,.5);
}

.pure-u {
    padding: 20px;
    text-align: center;
}
p.title{
    font-size: 6vw;
}
p.subtitle{
    font-size: 2vw;
}

.pure-g{
    background: #f2f2f2;
}

.button {
    margin: 10px;
}

ul {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
}

.cityButtons {
    margin-bottom:0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

img {
    border-style: solid !important;
}
.input {
    margin: 10px;
}

div.input {
    border: none;
    background: none;
}
.movie-info {
    text-align: center;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
    padding: 3rem 1.5rem 2rem;
 }
 

@media screen and (max-width: 576px) {
    .pure {
        text-align: center;
        padding: 0 auto;
        width: 100%;
    }
}
    
    @media screen and (max-width: 768px) {
    .pure {
        text-align: center;
        padding: 0 auto;
        width: 100%;
    }
}